<header>
    <nav>
        <ul class="left">
            <li>
                <%= link_to "Bloggers Index", bloggers_path %>
            </li>
            <li>
                <%= link_to "Destinations Index", destinations_path %>
            </li>
            <li>
                <%= link_to "Posts Index", posts_path %>
            </li>
            <li>
                <%= link_to ":D", "https://youtu.be/dQw4w9WgXcQ" %>
            </li>
        </ul>

        <ul class="right">
        <% if current_blogger %>
            <li>
                <%= link_to current_blogger.name, current_blogger %>
            </li>
            <li>
                <%= link_to "Account Settings", edit_blogger_path(current_blogger) %>
            </li>
            <li>
                <%= button_to "Sign Out", session_path, method: :delete %>
            </li>
        <% else %>
            <li>
                <%= link_to "Sign In", signin_path, class: "button" %>
            </li>
            <li>
                <%= link_to "Signup", signup_path, class: "button" %>
            </li>
        <% end %>
        </ul>
    </nav>
</header>
